{% load staticfiles %}
<footer class="pt-2 mt-2">
    <div class="container">
        <div class="row row-30">
            <div class="col-md-4 col-xl-5">
                <div class="pr-xl-4">
                    <h5>{{ COMP.name}}</h5>
                    <p>{{COMP.summary}}</p>
                    <!-- Rights-->
                </div>
            </div>
            <div class="col-md-4">
                <h5>Contact</h5>
                <dl class="contact-list">
                    <dt>Adres:</dt>
                    <dd>{{COMP.city}}</dd>
                    <dd>{{COMP.adres1}}</dd>
                    <dd>{{COMP.adres2}}</dd>
                </dl>
                <dl class="contact-list">
                    <dt>Email:</dt>
                    <dd><a href="mailto:{{ COMP.email }}">{{ COMP.email }}</a></dd>
                </dl>
                <dl class="contact-list">
                    <dt>Phone Number:</dt>
                    <dd><a href="tel:#">{{ COMP.phone }}</a>
                    </dd>
                </dl>
            </div>
            <div class="col-md-4 col-xl-3">
                <h5>Links</h5>
                <ul class="nav-list">
                    <li><a href="#">footer nav link 1</a></li>
                    <li><a href="#">footer nav link 2</a></li>
                    <li><a href="#">footer nav link 3</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
