{% load staticfiles %}
<header id="header" class="mb-2">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#MainMenu" aria-controls="MainMenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="{% url 'home' %}">
                <img src="{% static 'images/favicon.ico' %}" width="30" height="30" class="d-inline-block align-top" alt="">
                {{ COMP.name}}
            </a>

            <div class="collapse navbar-collapse" id="MainMenu">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/over-mij">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="/test">Test</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'projects' %}">Projects</a></li>
                    {% block extra_menu_item %}{% endblock %}
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item"><a class="nav-link" href="{% url 'blogposts' %}">Blog</a></li>
                        {% if user.is_authenticated %}
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Account</a>
                          <div class="dropdown-menu">
                            <a class="dropdown-item" href="{% url 'account_profile' %}">Profile</a>
                            <a class="dropdown-item" href="{% url 'password_change' %}">Password change</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/admin" target="_blank">Backend</a>
                          </div>
                        </li>
                            <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
                        {% else %}
                            <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                        {% endif %}
                    </ul>
                </form>
            </div>
        </div>
    </nav>
</header>
