{% extends "base.html" %}

{% block content %}

<div class="card-deck">
    
    {% for blog_post in blog_posts %}
      <div class="card">
        <img class="card-img-top" src="{{ blog_post.background_image.url }}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{ blog_post.title }}</h5>
          <p class="card-text">{{ blog_post.content }}</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Created by {{ blog_post.author }} on {{ blog_post.date }}</small>
        </div>
      </div>
    {% endfor %}

</div>

{% endblock %}
